<form method="POST" action="/create">
    <label for="Create New College">
      <span>Create New College</span>
      College ID <input type="text" name="college_id" /><br>
      name <input type="text" name="name" /><br>
      students <input type="text" name="students" /><br>
      city <input type="text" name="city" /><br>
      region <input type="text" name="region" /><br>
      country <input type="text" name="country" /><br>
      <input type="submit">
    </label>
    <label for="Create New students">
      <span>Create New students</span>
      students ID <input type="text" name="students_id" /><br>
      firstname <input type="text" name="firstname" /><br>
      lastname <input type="text" name="lastname" /><br>
      birth date <input type="text" name="birth_date" /><br>
      email <input type="text" name="email" /><br>
      city <input type="text" name="city" /><br>
      region <input type="text" name="region" /><br>
      country <input type="text" name="country" /><br>
      college_id <input type="text" name="college_id" /><br>
      <input type="submit" >
    </label>
  </form>

