<form method = "POST" action = "/delete">
    <table style = "width: 100%">
        <tbody>
            <tr>
                <td style = "vertical-align: top; border-right: 1px solid #ddd; padding-right: 10px;">
                    <h2>Delete College</h2>
                    <label for = "college_id">College ID:</label>
                    <input type = "text" id = "college_id" name = "college_id" required>
                    <br>
                </td>
                <td style = "vertical-align: top; padding-left: 10px;">
                    <h2>Delete Student</h2>
                    <label for = "student_id">Student ID:</label>
                    <input type = "text" id = "student_id" name = "student_id" required>
                    <br>
                    <button type = "submit">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
    

    