<table style = "width: 100%">
    <tbody>
        <tr>
            <td style = "vertical-align: top; border-right: 1px solid #ddd; padding-right: 10px;">
                <h2>Delete College</h2>
                <form method = "POST" action = "/delete">
                    <label for = "college_id">College ID:</label>
                    <input type = "text" id = "college_id" name = "college_id" required>
                    <br>
                    <button type = "submit">Submit</button>
                </form>
            </td>
            <td style = "vertical-align: top; padding-left: 10px;">
                <h2>Delete Student</h2>
                <form method = "POST" action = "/delete">
                    <label for = "students_id">Student ID:</label>
                    <input type = "text" id = "students_id" name = "students_id" required>
                    <br>
                    <button type = "submit">Submit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

    

    