<form method="POST" action="/update">
    <table style="width: 100%; border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="vertical-align: top; border-right: 1px solid #ddd; padding-right: 10px;">
                    <h2>Update College</h2>
                    <label for="college_id">College ID:</label>
                    <input type="text" id="college_id" name="college_id" required>
                    <br>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="students">Students:</label>
                    <input type="text" id="students" name="students" required>
                    <br>
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" required>
                    <br>
                    <label for="region">Region:</label>
                    <input type="text" id="region" name="region" required>
                    <br>
                    <label for="country">Country:</label>
                    <input type="text" id="country" name="country" required>
                    <br>
                </td>
                <td style="vertical-align: top; padding-left: 10px;">
                    <h2>Update Student</h2>
                    <label for="students_id">Student ID:</label>
                    <input type="text" id="students_id" name="students_id" required>
                    <br>
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" required>
                    <br>
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" required>
                    <br>
                    <label for="birth_date">Birth Date:</label>
                    <input type="text" id="birth_date" name="birth_date" required>
                    <br>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
                    <br>
                    <label for="city_s">City:</label>
                    <input type="text" id="city_s" name="city_s" required>
                    <br>
                    <label for="region_s">Region:</label>
                    <input type="text" id="region_s" name="region_s" required>
                    <br>
                    <label for="country_s">Country:</label>
                    <input type="text" id="country_s" name="country_s" required>
                    <br>
                    <label for="college_id">College ID:</label>
                    <input type="text" id="college_id" name="college_id" required>
                    <br>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
